body {
    font-family: 'Inter', sans-serif;
    color: var(--Blanc);
    background-color: var(--Noir1);
    text-align: center;
    margin: 0;
}

#frame {
    background-color: var(--Fond2);
    border: var(--Glass);
    border-radius: var(--Rad1);
    height: 92vh;
    margin: 4vh;
}

h1 {
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}

.violetTxt {
    color: var(--Violet2);
}

.bar {
    border-radius: 15px, 15px, 0px, 0px ;
}
