body {
    font-family: 'Inter', sans-serif;
    color: var(--Blanc);
    background-color: var(--Noir1);
    text-align: center;
    margin: 0;
}

main {
    position: relative;
    z-index: 100;
}

#Decennie {
    background-color: var(--Fond2);
    border: var(--Glass);
    border-radius: var(--Rad1);
    height: 92vh;
    margin: 4vh;
    display: none;
}

#Annee {
    background-color: var(--Fond2);
    border: var(--Glass);
    border-radius: var(--Rad1);
    height: 92vh;
    margin: 4vh;
    display: none;
}

h1 {
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    font-size: 2;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.violetTxt {
    color: var(--Violet2);
}

#bckg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 0;
}

#gradientBckg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: var(--Radial-Fond);
    top: 0;
    left : 0;
    z-index: 10;
}

.etoile {
    position: absolute;
    height: 130vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    top: 50vh;
    left : 50vw;
}

#EtFront {
    z-index: 4;
}

#EtMid {
    z-index: 3;
}

#EtBack {
    z-index: 2;
}

#logo {
    position: absolute;
    height: 120vh;
    transform: translate(-50%, -50%);
    top: 50vh;
    left : 50vw;
    z-index: 1;
    opacity: 0;
}

#infoDec{
    display: none;
}


/* Page accueil */

#Accueil {
    height: 100vh;
    display: grid;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas:
        "."
        "d"
        "b"
        ".";
}

#Accueil > div {
    grid-area: d;
}

#Accueil > .Btn {
    grid-area: b;
}

.Btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--Blanc);
    border: none;
    border-radius: var(--Rad1);
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    box-shadow: 0px 0px 0px 0px #E8E8E8;
    transition: 0.35;
}

.Btn:hover {
    box-shadow: 0px 0px 10px 0px #E8E8E8;
}

#door {
    position: relative;
}

#Accueil > div > * {
    margin: 0;
}

#info-Bulle{
    display: none;
    position: absolute;
    width: fit-content;
    top: 20px;
    background-color: var(--Noir1);
    padding: 0px 30px;
    border-radius: var(--Rad3);
    border: var(--Glass);
}

.barAnn {
    height: 20px;
    background: var(--Linear-Violet);
    border-radius: 0px 5px 5px 0px;
    margin-left: 20px;
}

.AnnDec {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: flex-start;
}

.AnnCount {
    margin-left: auto;
}