*,
*::before,
*::after{
box-sizing: border-box;
}

#good {
    display: none;
}

@media (min-width: 1024px) {

    #small {
        display: none;
    }

    #good {
        display: inherit;
    }

}